includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8
	paths:
		- src
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
	scanFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- tests/phpstan-constants.php
		- tests/stubs/woocommerce-subscriptions.php
	treatPhpDocTypesAsCertain: false
